ul.accordion-list 
{
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 0 0 8em 0;
  list-style: none;
  background-color: #f9f9fA;
}

ul.accordion-list li 
{
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  background-color: #FFF;
  padding: 20px 0;
  margin: 0 auto 15px auto;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

ul.accordion-list li.active h3:after 
{
  transform: rotate(45deg);
}

ul.accordion-list li h3 
{
  position: relative;

  display: block;
 /* width: 100%;*/
  height: auto;

  padding: 0 2em 0 0;
  margin: 0;
  font-size: 2em;
  letter-spacing: 0.01em;
  cursor: pointer;
}


ul.accordion-list li h3:after 
{
  font-weight: 900;
  content: "+";
  font-family: "material-design-iconic-font";
  position: absolute;
  right: 0;
  top: 0;
  color: #464C53;
  transition: all 0.3s ease-in-out;
  font-size: 1.2em;
}



ul.accordion-list li div.answer 
{
  position: relative;
  display: block;
  height: auto;
  margin: 0;
  padding: 0;
  cursor: pointer;
}



ul.accordion-list li div.answer p 
{
  position: relative;
  display: block;
  font-weight: 300;
  padding: 10px 0 0 0;
  cursor: pointer;
  line-height: 150%;
  margin: 0 0 15px 0;
  font-size: 1.2em;
}


.active-line
{
	color: #1D82FF;
  font-size: 1.4em !important;
  transition: all 400ms;
}